fastapi==0.115.5
uvicorn[standard]==0.32.0
python-multipart==0.0.17
python-dotenv==1.0.1
pydantic==1.10.18
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-jose==3.3.0
email-validator==2.2.0
motor==3.3.2
pymongo==4.6.1
PyMuPDF==1.24.13
reportlab==4.2.2
requests==2.32.3
jinja2==3.1.4

